body{
  font-family: "Helvetica";
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

h2,
h3,
h4 {
  padding: 10px;
  margin:0;
}

header{
  display: flex;
  position: fixed;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  z-index:1;
}

header img {
  padding-left: 10px;
  height: 50px;
}

nav{
  text-align: right;
  flex-grow:1;
}

nav a{
  color: seashell;
  text-decoration: underline;
}

nav span{
  display: inline-block;
  padding: 20px 10px;
}

.flex-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#store{
  width: 1000px;
  height: 700px;
}

.main{
  margin: auto;
  width: 1200px;
  padding-top: 69px;
  opacity: 0.9; 
}

#mission{
  background-image: url("./images/img-mission-background.jpg");
  height: 700px;
  padding-top: 70px;
}

#mission .text {
  background-color: black;
  width: 100%;
  margin: auto;
}

#store{
  width: 1000px;
  height: 700px;
  padding: 70px;
  margin: auto;
}

.one-image img{
  height: 200px;
  display: block;
  margin: 10px;
}

.one-image span{
  text-align: center;
  font-weight: bold;
  display: block;
  padding: 5px;
}

#locations{
  height: 500px;
  background-image: url("./images/img-locations-background.jpg");
  padding-top: 70px;
  margin: 30px auto;
}

.one-location{
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1.0;
  background-color: black;
  width: 300px;
  padding: 10px;
  margin: 10px 20px;
}

#contact{
  height: 200px;
}

footer{
  text-align: left;
  padding-left:20px;
}
